<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="bootstrap3/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="mycss/default.css"></head>
    <script type="text/javascript" src="jquery-3.3.1/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="bootstrap3/js/bootstrap.js"></script>
    <script type="text/javascript" src="myjs/default.js"></script>
</head>
<body>
<h5>动态标签页</h5>
<ul class="menu">
    <li id="menu1">
        <a href="#" >菜单1</a>
    </li>
    <li id="menu2">
        <a href="#">菜单2</a>
    </li>
    <li id="menu3">
        <a href="#">菜单3</a>
    </li>
</ul>
<div id="tabs3" class="tabs">
    <ul>
        <li>
            <a href="#tabs-4">主页xxxxx</a>
        </li>

    </ul>
    <div id="tabs-4">主页内容</div>

</div>
<div id="tab_content" style="display: none;">
    <div class="tabs-menu1">111</div>
    <div class="tabs-menu2">222</div>
    <div class="tabs-menu3">333</div>
</div>
</body>
</html>